JavaApplication313/src/movie.xsd

<?xml version="1.0"?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="movie">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string" ></xs:element>
                <xs:element name="year" type="xs:int" ></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
