WebApplication10/src/conf/xml-resources/web-service-references/Wallet/wsdl/localhost_8080/WebApplication9/Wallet.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.shop.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.shop.com/" name="Wallet">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.shop.com/" schemaLocation="http://localhost:8080/WebApplication9/Wallet?xsd=1"/>
</xsd:schema>
</types>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse"/>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"/>
</message>
<message name="withdrawResponse">
<part name="parameters" element="tns:withdrawResponse"/>
</message>
<message name="getbalance">
<part name="parameters" element="tns:getbalance"/>
</message>
<message name="getbalanceResponse">
<part name="parameters" element="tns:getbalanceResponse"/>
</message>
<portType name="Wallet">
<operation name="deposit">
<input wsam:Action="http://soap.shop.com/Wallet/depositRequest" message="tns:deposit"/>
<output wsam:Action="http://soap.shop.com/Wallet/depositResponse" message="tns:depositResponse"/>
</operation>
<operation name="withdraw">
<input wsam:Action="http://soap.shop.com/Wallet/withdrawRequest" message="tns:withdraw"/>
<output wsam:Action="http://soap.shop.com/Wallet/withdrawResponse" message="tns:withdrawResponse"/>
</operation>
<operation name="getbalance">
<input wsam:Action="http://soap.shop.com/Wallet/getbalanceRequest" message="tns:getbalance"/>
<output wsam:Action="http://soap.shop.com/Wallet/getbalanceResponse" message="tns:getbalanceResponse"/>
</operation>
</portType>
<binding name="WalletPortBinding" type="tns:Wallet">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getbalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Wallet">
<port name="WalletPort" binding="tns:WalletPortBinding">
<soap:address location="http://localhost:8080/WebApplication9/Wallet"/>
</port>
</service>
</definitions>